.PostPage {
  &-lead-image-container {
    max-width: rem-calc(map-get($breakpoints, large));
    margin: vr(2) auto;
  }

  &-lead-image {
    padding-bottom: 52.356%; // 1.91 to 1
    background-size: cover;
  }

  &-header {
    margin-top: vr(1);
  }

  &-info {
    margin-top: vr(0.5);
    margin-bottom: 0;
  }

  &-content {
    margin-bottom: vr(1);
  }
}
