extends layout

block title
  = 'Welcome to my blog!'

block content
  h3 Welcome to my (in progress) blog!

  each post in site.posts
    h2: a(href=blogPath(post._url))= post.title
    div= formatDate(post.date)
