.Footer {
  &-portrait {
    background-image: url('../../img/portrait-20170130.jpg');
    background-size: cover;
    border-radius: 50%;
    padding-bottom: 100%;
  }

  &-portrait-container {
    padding: vr(0.5) 25%;
  }

  &-about-container {
    @include breakpoint(small only) {
      text-align: center;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &-section {
    padding: vr(1) 0;
  }

  &-links-section {
    border-top: 1px solid $light-gray;
    line-height: $global-lineheight * 20 / 16;
    padding: vr(0.5) 0;
  }
}
