.Footer {
  padding: vr(1) 0;

  &-portrait {
    background-image: url('../../img/portrait-20161120.jpg');
    background-size: cover;
    border-radius: 50%;
    padding-bottom: 100%;
  }

  &-portrait-container {
    padding: vr(0.5) 25%;
  }

  &-about-container {
    @include breakpoint(small only) {
      text-align: center;
    }
  }
}
