.Navbar {
  $navbar-height: vr(1);

  font-size: rem-calc(20);
  font-weight: $global-weight-bold;

  &-icon {
    background-image: url('../../img/navbar-logo.png');
    background-size: cover;
    height: $navbar-height;
    width: $navbar-height;
    margin-right: vr(0.5);
  }

  &-link {
    display: inline-block;
    text-decoration: inherit;
    padding: vr(0.25) 0;
  }
}
