.Navbar {
  $navbar-height: vr(1);
  $navbar-icon-fudge: 5px;

  font-size: rem-calc(20);
  font-weight: $global-weight-bold;

  &-icon {
    background-image: url('../../img/navbar-icon-colored.png');
    background-size: cover;
    height: $navbar-height;
    width: $navbar-height;
    margin-right: $navbar-icon-fudge;
    margin-left: -$navbar-icon-fudge;
  }

  &-link {
    display: inline-block;
    text-decoration: inherit;
    padding: vr(0.25) 0;
  }
}
