.PostCard {
  background-color: $white;
  margin-bottom: vr(1);
  border-radius: $global-radius;
  display: block;
  text-decoration: inherit;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),  0 1px 2px rgba(0, 0, 0, 0.24);

  &-image {
    padding-bottom: 52.356%; // 1.91 to 1
    background-size: cover;
  }

  &-container {
    padding: vr(1);
  }

  &-content {
    margin-bottom: vr(0.5);

    &,
    &:hover,
    &:focus {
      color: $body-font-color;
    }
  }

  &-more-link {
    text-decoration: underline;
  }

  &-info {
    margin: vr(0.5) 0;
  }
}
