.PostCard {
  background-color: $white;
  margin-bottom: vr(1);
  padding: vr(1);
  border-radius: $global-radius;
  display: block;
  text-decoration: inherit;

  &-content {
    margin-bottom: vr(0.5);

    &,
    &:hover,
    &:focus {
      color: $body-font-color;
    }
  }

  &-more-link {
    text-decoration: underline;
  }
}
