.PostCard {
  background-color: $white;
  margin-bottom: vr(1);
  padding: vr(1);
  border-radius: $global-radius;
  display: block;
  text-decoration: inherit;

  &,
  &:hover,
  &:focus {
    color: inherit;
  }
}
