.ZoomableImage {
  display: block;
  cursor: zoom-in;

  &-container {
    display: block;
    margin: vr(2) 0;
  }

  &-caption {
    display: block;
    text-align: center;
    color: $dark-gray;
    margin: vr(0.25) 0;
  }

  &-attribution {
    font-style: italic;
  }
}
