---
title: 'Starting a blog out of necessity'
date: 2016-11-15
tags: ['freelancing']
_content: false
---

extends ../views/post_layout

block post_content
  :markdown
    I never thought I would have (or want) a Twitter or a blog.  Unfortunately,
    now that I am a freelancer, it seems like it is a wise career decision.

    Like most professional entities, a freelance developer's most valuable
    asset is a strong brand.
